Options +ExecCGI
AddHandler cgi-script .py
DirectoryIndex index.py

<Files "index.py">
    Options +ExecCGI
    SetHandler cgi-script
</Files>

# Favicon
<Files "favicon.ico">
    ForceType image/x-icon
</Files>

# Redirigir todas las solicitudes a index.py
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.py [QSA,L] 